<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Layout</title>
</head>
<body style="margin:0;">
    <header style="padding-left: 10px;background-color: rgba(0,0,0, 0.5);min-height: 60px;color: #fff;display: flex;align-items: center;">
        <span style="font-size: 2rem;font-family: 'segoe ui';">
            <a style="text-decoration: none; color: #fff;"  href="/"> Vehicle@Park </a>
        </span> 
    </header>
    <div style="padding: 8px;">
        <%-body%>
    </div>
</body>
</html>