<!DOCTYPE html>
<html lang="en">
    
    <%- include("./head.ejs")%>
    
    <link rel="stylesheet" href="../styles/layout.css">

    <body>
        <div class="header">
           <span class="app-logo">Vehicle@Park</span> <%- include("./navigation.ejs") %>
        </div>
        <div class="page">
            <%-body%>
        </div>
        <div class="footer">
            <%- include("./footer.ejs")%>
        </div>
    </body>

</html>