<nav>
    <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/Services">Services</a></li>
        <li><a href="/Admin">Evaluation</a></li>
        <li><a href="/About">About</a></li>
        <% if(getAuthState()){ %>
            <li><a href="/signout">Logout</a></li>
        <%}else{%>
            <li><a href="/signin">Login</a></li>
        <%}%>
    </ul>
</nav>