username <%= username %>
<div class="instructions">
    Use the following credentials to signin: <br>
    <strong>Username: vehicle@park</strong> <br>
    <strong>Password: lb294</strong>
</div>
<br>
<div class="form-container">
    <form action="" method="post">
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <button class="btn-signin">Signin</button>
        </div>
    </form>
</div>

<!-- <script>
    const btnSubmit = document.querySelector("#btn-signin");
    
    btnSubmit.addEventListener("click", ()=>{
        authenticate();
    });

    //Add a new course record
    const authenticate = async ()=>{
        const port = document.location.host.split(":")[1];
        //const endpoint = `http://localhost:${port}/api/courses`;
        const endpoint = `http://localhost:${port}/signin`;
        
        const credentials = {
            name : document.getElementById("username").value,
            code : document.getElementById("password").value
        };

        console.log(newCourse.name, "  ", newCourse.code);

        const response  = await fetch(endpoint, {
            method: "post",
            headers:{
                "Content-Type": "application/json"
            },
            body: JSON.stringify(newCourse)
        });

        const result = await response.json();
        if(result.redirect){
            window.location.href = "/";
        }
    }
</script> -->