<h1>Using Express ejs layouts specific layout</h1>
<p>
    This page/view uses the adminLayout.ejs to demonstrate a specific layout using express ejs layouts. <br>
    app.js /admin route method shows how to do it programatically. You can check it for your reference. 
</p>