
<h1>Express EJS Layouts Demo</h1>

<div style="padding:10px;">
    <strong>Title</strong>: <%= title %> <br>
    <strong>Description</strong> <%= description %> <br>
    <strong>Header</strong> <%= header %> <br>
</div>